<div>
    

<!-- backround image -->
<!-- Jumbotron height: 600px; -->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('../../assets/19749463-image-of-businesswoman-with-tablet-pc-against-high-tech-background.jpg');height: 600px;"
 
  >
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="mb-3 h2" style="color: #053842;font-family: monospace;font-weight: 800;">Hello, I'm <span style="color: tomato;">Farhana P Salim</span> .</h1>
  <h1 class="mb-3 h2" style="color: #053842;font-family: monospace;font-weight: 800;">I am a full stack web developer</h1>
  
<button type="button" class="btn btn-outline-dark" style="font-weight: 800;"> Hire Me</button> &nbsp;&nbsp;
<button type="button" class="btn btn-outline-danger" style="font-weight: 800;"> Contact Me</button>
  
<!-- <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
    labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
    neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
  </p> -->
</div>
<!-- Jumbotron -->
<!-- background image -->

<!-- services -->
<div>

  <div >
    <div class="uk-card uk-card-default uk-card-body " uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <h1 class="mb-3 h2 "  style="color: #053842;font-family: monospace;font-weight: 800;text-decoration: underline;text-align: center; animation: mymove 5s infinite;animation-timing-function: ease;" >Services</h1>
    </div>
</div>
  


</div>
<div class="uk-child-width-expand@s uk-text-center " uk-grid tabindex="0">
  <div>
      <div class="uk-card uk-card-default uk-card-body " uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        <img src="../../assets/customsoft.png" style="width: 200px;height: 170px;" alt="">
        <h3>Custom Software Development </h3>
        <p>offers full stack custom software development services for web, desktop and mobile</p>
      </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body " uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <img src="../../assets/webdev.jpg" style="width: 200px;height: 170px;" alt="">
      <h3>Web Development </h3>
      <p>We match unique developmet needs of B2B or B2C business and offer a robust web development service</p>
    </div>  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body " uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <img src="../../assets/mobileaapdev.png" style="width: 200px;height: 170px;" alt="">
      <h3>Mobile Apps </h3>
      <p>Creating apps that are steller to use with robust security and rich features ,great ui and will work clean,rich features</p>
    </div>  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body " uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <img src="../../assets/uiuxdes.png" style="width: 200px;height: 170px;" alt="">
      <h3>UI/UX Design </h3>
      <p>Develop realistic wireframes and interactive UI/UX as a part of software development services that help clients communicate their business efficiently.</p>
    </div></div>
</div>
<!-- services -->
<br>
<br>
<br>
<!-- testimony -->
<div class="uk-slider-container-offset uk-text-center" uk-slider="autoplay: true; autoplay-interval: 2000">

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

      <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
          <li>
              <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                      <img src="../../assets/testimony1.jpg" alt="">
                  </div>
                  <div class="uk-card-body">
                      <h3 class="uk-card-title">Tom</h3>
                      <p>


                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.”
                      </p>
                  </div>
              </div>
          </li>
          <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="../../assets/testimony3.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Christina</h3>
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.”
                  </p>
              </div>
              </div>
          </li>
          <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="../../assets/testimony4.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Sara</h3>
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.”
                  </p>
              </div>
              </div>
          </li>
          <li>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="../../assets/testimony5.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Alex</h3>
                  <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.”
                  </p>
              </div>
              </div>
          </li>
          
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  </div>

  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
<!-- testimony -->

</div>
